/* * {
    border: 1px solid black;
} */

body {
    height: 100vh;
    /*width: 100vw;*/
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    font-family: Roboto;
    margin: 0;
}

.header {
    background-color: #1F2937;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #E5E7EB;
    padding: 0px 160px;

    
    }

.img {
    height: 200px;
    width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 500px;
    background-color: gray;
    color: #F9FAF8;
    flex-shrink: 1;

}

.awesome {
    flex-shrink: 2;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 45px 160px;
}

button {
    color: #F9FAF8;
    font-weight: 700;
    background-color: #3882F6;
    border: 2px solid #3882f6;
    border-radius: 8px;
    height: 35px;
    width: 110px;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h3 {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
   
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 6px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-bottom: 90px;
    padding-left: 160px;
    padding-right: 160px;
}



.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #E5E7EB;
    padding: 90px 240px;
 
}

.quote-text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
}


.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    color: #F9FAF8;
    padding: 90px 160px;
}

.signup-box {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 4px;
    width: 900px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.signup-text h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.signup-text p {
    margin: 0;
}


.signup-box button {
    border: 1px solid white;
}


.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 80px;
    padding: 30px;
}

